<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079694100601-tbi1gvaq2tm2el6utjv5eqshmri9kstr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079694100601-tbi1gvaq2tm2el6utjv5eqshmri9kstr</string>
	<key>API_KEY</key>
	<string>AIzaSyApDsXD6pWJrcQgH8e2Wfl1JT7FNTBiDKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1079694100601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.positiveConversionReframing</string>
	<key>PROJECT_ID</key>
	<string>positive-conversion</string>
	<key>STORAGE_BUCKET</key>
	<string>positive-conversion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079694100601:ios:d2eea6404ad9321dccaca8</string>
</dict>
</plist>